<!doctype html>
<html class="no-js h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="h-100" th:style="'background:url('+@{images/bd.jpg}+');'">
    <div class="container-fluid">
      <div class="row">
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3" style="margin-left: 6%!important">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">现代信息与物流系校企共建专业</span>
                <h3 class="page-title">学生报备数据</h3>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <div class="row">
              <div class="col" style="filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">学生清单</h6>
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">序号</th>
                          <th scope="col" class="border-0">学生姓名</th>
                          <th scope="col" class="border-0">性别</th>
                          <th scope="col" class="border-0">手机号码</th>
                          <th scope="col" class="border-0">QQ或微信</th>
                          <th scope="col" class="border-0">高中毕业学校</th>
                          <th scope="col" class="border-0">高中分科</th>
                          <th scope="col" class="border-0">高考分数</th>
                          <th scope="col" class="border-0">意向专业</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="stu:${list}">
                        	<td th:text="${stu.id}"></td>
                          	<td th:text="${stu.name}"></td>
			                <td th:text="${stu.sex}"></td>
			                <td th:text="${stu.phone}"></td>
			                <td th:text="${stu.qqorwechat}"></td>
			                <td th:text="${stu.school}"></td>
			                <td th:text="${stu.subject}"></td>
			                <td th:text="${stu.grade}"></td>
			                <td th:text="${stu.major}"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <!-- End Default Light Table -->
        </main>
      </div>
    </div>
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/Chart.min.js"></script>
    <script src="scripts/shards.min.js"></script>
    <script src="scripts/jquery.sharrre.min.js"></script>
    <script src="scripts/extras.1.1.0.min.js"></script>
    <script src="scripts/shards-dashboards.1.1.0.min.js"></script>
  </body>
</html>