<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
body{ text-align:center} 
.div{ margin:0 auto; width:400px; padding-top:100px; height:100px;} 
/* css注释：为了观察效果设置宽度 边框 高度等样式 */ 
</style>

<body>
	<div class="div">
		<form th:action="@{/list}" method="post">
			
			口令:<input type="text"  id = "command" name="command" placeholder="请输入口令" required/>
			<input type="submit"  value="提交">
			<span th:text="${error}" style="color: red;"></span>
		</form>
	</div>
</body>
</html>